<!doctype html>
<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<style>
.chart-container {
    width: 1000px;
    height: 600px;
}
</style>
</head>
<body>
	<div class="chart-container">
	<canvas id="chart1"></canvas>
	</div>

<script>
var ctx = document.getElementById('chart1').getContext('2d');
var colors = ['red', 'green', 'blue'];
var dateOffset = (24*60*60*1000) * 0.5;
var begDate = new Date();
begDate.setTime(begDate.getTime() - dateOffset);
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        datasets: [
	{% for isensor in isensors1 %}
	{% set i = isensor[0] %}
	{% set sensor = isensor[1] %}
	{
            label: "{{sensor.name}}",
	    fill: false,
	    borderColor: colors[{{i}}],
	    xAxisID: "xAxis",
	    yAxisID: "yAxis{{i}}",
            data: [
            {% for datapoint in sensor.data %}
	       { x: new Date(1000*{{datapoint.date}}), y: {{ datapoint.value }} },
            {% endfor %}

	    ]
	},
	{% endfor %}
        ]
    },

    // Configuration options go here
    options:{
        elements: { point: { radius: 0 } },
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    displayFormats: {
                        quarter: 'h:mm:ss a'
                    },
                    min: begDate,
                    max: Date.now()
                },
                id:'xAxis'
            }],
            yAxes: [
                {% for isensor in isensors2 %}
                {% set i = isensor[0] %}
                {% set sensor = isensor[1] %}
                {
                  type: "linear",
		  {% if i == 0 %}
                  position: "left",
		  {% else %}
                  position: "right",
		  {% endif %}
                  id: "yAxis{{i}}",
                  ticks: {
                        callback: function(value, index, values) {
                                return value.toFixed(2) +' {{ sensor.unit}}';
                        }
                  }
                },
                {% endfor %}
            ]
        }
    }
});
</script>
</body>
</html>
